form {
    width: 100%;
    padding: 16px;
    display: flex;

    input{
        width: 33%;
        height: 32px;
        border-radius: 0;

        &[type=text] {
            width: 67%;
            margin-right: 8px;
            padding: 16px 12px;
            background-color: #f7f7f7;
            border: none;
        }

        &[type=submit] {
            border: none;
            border-radius:4px;
            cursor: pointer;
            color: #ffffff;
            background-color: #5598f7;

            &:active {
                background-color: #3281f0;
            }
        }
    }
}